<html>
<head></head>
<body>
<img id="hammer" src="HammerTime.png" style="position:absolute;left:500px;top:160px;">
<canvas id="myCanvas" width="540" height="320"
style="border:0px solid #d3d3d3; background-color">Your browser does not support the HTML5 canvas tag.</canvas>
<script>
function refreshScoreboard() {
  var request = new XMLHttpRequest();
  request.open('GET', '/scoreboard.json', true);
  request.onload = function() {
    if (request.status >= 200 && request.status < 400) {
      console.log(request.responseText);
      scoreboard = JSON.parse(request.responseText);
      var c = document.getElementById('myCanvas');
      var ctx=c.getContext('2d');
      ctx.clearRect(0, 0, 540, 320);
      ctx.font='bold 37px Verdana';
      ctx.fillStyle='black';
      ctx.textAlign = 'left';
      ctx.fillText(scoreboard.red_team.score + ' ' + scoreboard.red_team.skip_name, 170, 180);
      ctx.fillText(scoreboard.yellow_team.score + ' ' + scoreboard.yellow_team.skip_name, 170, 250);
      ctx.font='bold 34px Verdana';
      ctx.fillStyle = '#eeeeee';
      ctx.fillText(scoreboard.end, 280, 305);
      ctx.font='bold 30px Verdana';
      ctx.textAlign = 'center';
      ctx.fillText(scoreboard.match_name, 250, 50);
      ctx.fillText(scoreboard.draw_name, 250, 90);
      console.log(request.responseText);
      var resp = request.responseText;
    } else {
      console.log('An error occurred!');
    };
  };
  request.onerror = function() {
    console.log('An error occurred...');
  };
  request.send();
}
setInterval(refreshScoreboard, 5 * 1000);
refreshScoreboard();
</script>
</body>
</html>
