<html>
<head></head>
<body>
<canvas id="myCanvas" width="540" height="320"
style="border:0px solid #d3d3d3; background-color">Your browser does not support the HTML5 canvas tag.</canvas>
<script>
function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
    });
    return vars;
}
function getUrlParam(parameter, defaultvalue) {
  var urlparameter = defaultvalue;
  if(window.location.href.indexOf(parameter) > -1){
    urlparameter = getUrlVars()[parameter];
  }
  return urlparameter;
}

function refreshScoreboard() {
  var request = new XMLHttpRequest();
  request.open('GET', '/scoreboard.json?sheetNumber=' + getUrlParam('sheetNumber', 3), true);
  request.onload = function() {
    if (request.status >= 200 && request.status < 400) {
      scoreboard = JSON.parse(request.responseText);
      var c = document.getElementById('myCanvas');
      var ctx=c.getContext('2d');
      ctx.clearRect(0, 0, 540, 320);
      ctx.font='bold 37px Verdana';
      ctx.fillStyle='black';
      ctx.textAlign = 'left';
      ctx.fillText(scoreboard.red.score + ' ' + scoreboard.red.name, 170, 180);
      ctx.fillText(scoreboard.yellow.score + ' ' + scoreboard.yellow.name, 170, 250);
      ctx.font='bold 34px Verdana';
      ctx.fillStyle = '#eeeeee';
      ctx.fillText(scoreboard.end, 280, 305);
      ctx.font='bold 30px Verdana';
      ctx.textAlign = 'center';
      ctx.fillText(scoreboard.matchName, 250, 50);
      ctx.fillText(scoreboard.drawName, 250, 90);
      if (scoreboard.end != "End 0" && scoreboard.end != "Final") {
        height = scoreboard.hammer == 'red' ? 150 : 225;
        var image = new Image;
        image.onload = function() { ctx.drawImage(image, 500, height, 30, 30); }
        image.src = 'images/hammer.svg';
      }
    } else {
      console.log('An error occurred!');
    };
  };
  request.onerror = function() {
    console.log('An error occurred...');
  };
  request.send();
}
setInterval(refreshScoreboard, 5 * 1000);
refreshScoreboard();
</script>
</body>
</html>
